<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Title from layout template</h1>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
</body>
</html>
